.wrapper {
    display: flex;
    margin: auto;
    max-width: 200px;
    width: 100%;
}

.wrapper__counter {
    text-align: center;
    width: 100%;

    button {
        background-color: #00703C;
        border: none;
        border-radius: 0;
        color: #FFF;
        flex-flow: row;
        font-size: 16px;
        font-size: 1rem;
        height: 40px;
        line-height: 1.1875;
        margin: 32px 0;
        width: 100%;
    }

    p {
        font-size: 19px;
        font-size: 1.1875rem;
        line-height: 1.31579;
    }
}